<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="User Account Tests">
    <test verbose="2" preserve-order="true" name="Account Tests">
        <groups>
            <run>
                <include name="authorized"/>
                <include name="ui"/>
            </run>
        </groups>
        <packages>
            <package name="ru.hostco.pp86.tests.ui.*"/>
        </packages>
    </test>
</suite>