<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Health Tab Tests">
    <test name="UI">
        <groups>
            <run>
                <include name="UI"/>
                <include name="AUTHORIZED"/>
            </run>
        </groups>
    </test>
    <test name="API_UI">
        <groups>
            <run>
                <include name="API_UI"/>
                <include name="AUTHORIZED"/>
            </run>
        </groups>
    </test>
    <packages>
        <package name="ru.hostco.pp86.tests.*"/>
    </packages>
</suite>