<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Ui Tests">
    <test name="User Account Tests">
        <groups>
            <run>
                <include name="AUTHORIZED"/>
                <include name="UI"/>
            </run>
        </groups>
        <packages>
            <package name="ru.hostco.pp86.tests.*"/>
        </packages>
    </test>
</suite>